.filter-container {
  position: sticky;
  top: 72px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 72px;
  z-index: 1;
  background-color: $base-bkg;
  height: 100px;
  width: 100vw;
  margin: 0 auto;
  box-shadow: 2px 5px 5px 2px rgba(30, 30, 30, 0.1);
}
