.outer-box {
  // border: 2px solid red;
  position: relative;
  height: 100%;
}

.header {
  margin-top: 20px;
  height: 200px;
  width: 100%;
  display: block;
  // border: 1px solid black;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: fill;
}

.dish-description {
  font-size: 30px;
}

.solid-line {
  width: 90%;
  margin: 40px auto;
  height: 2px;
}

.left-right-container {
  display: flex;
  justify-content: space-evenly;
 // border: 2px solid red;
}

.inner-box-left {
  display: flex;
  flex-direction: column;
  // border: 3px solid gold;
  width: 55%;
  margin-top: 0px;
  justify-content: space-between;
  height: 100%;
  background-color: rgb(255,255,255);
  padding-top: 30px;
}

.nutritional-info {
  width: 100%;
  // border: 2px solid green;
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
}

.nutritonal-breakdown {
  font-size: 20px;
}

.nutritional-details {
  padding-left: 5px;
  font-size: 20px;
  margin-top: 20px;
}

.nutrition-chart {
  height: 200px;
  // border: 2px solid pink;
  width: 30%;
  position: relative;
  right: 110px;
  top: -20px;
}

.ingredients-container {
  padding-left: 15px;
  margin-top: 20px;
}

.ingredients-list {
  padding-left: 10px;
  font-size: 20px;
  margin-top: 10px;
}

.allergen-container {
  padding-left: 15px;
  margin-top: 90px;
}

.all-allergens {
  font-size: 18px;
  margin: 20px 20px 20px 0;
  padding-left: 10px;
}

.inner-box-right {
  // border: 2px solid greenyellow;
  background-color: rgb(255,255,255);
  width: 40%;

}

.map-container {
  margin-top: 20px;
  // border: 2px solid red;
}

.restaurant-links {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 17px;
  margin-top: 20px;
}

.find-us {
  position: relative;
  top: 10px;
  left: 22px;
  color: black;
}

.dish-history {
  padding-left: 38px;
  position: relative;
  top: -40px;
}

.dish-text {
  padding-left: 5px;
  font-size: 20px;
  margin-top: 20px;
  width: 90%;
}
