.outer-box {
  display: flex;
  gap: 8px;
}

.inner-box-left {
  display: flex;
  flex: 2;
  flex-direction: column;
  background-color: aliceblue;
  box-shadow: cadetblue;
  align-content: space-between;
}

.inner-box-right {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: lightcoral;
  height: 100vh;
}

.nutrition-row {
  display: flex;
  flex-direction: row;
  border: solid black;
  justify-content: space-evenly;
}

.nutrition-details {
  margin: 0 auto;
  // border: solid red;
}

.nutrition-chart img {
  width: 200px;
  position: flex;
}

.ingredients-list {
  position: flex;
  font-size: larger;
}

.ingredients-list btn {
  flex-wrap: wrap;
}

.allergen-list {
  border: solid blue;
}

.restaurant-links {
  display: flex;
  flex-direction: row;
}
