// Filters container - flex
.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $base-bkg;
  height: 80px;
  width: 100vw;
  padding: 20px;
}

// Container for dishes and map
.map-dishes-container {
  margin: 10px;
  display: flex;
}

.map-dishes-container .dishes-grid-cards {
  flex-grow: 2;
  padding: 0px 16px;
}

.map-dishes-container #map {
  height: 100vh;
  position: sticky;
  top: 0;
  width: 100vw;
}

// Container for dishes - grid
.dishes-grid-cards {
  display: grid;
  grid-template-columns: repeat(2, 500px);
  grid-gap: 16px;
}


@media(max-width: 992px) {
  .dishes-grid-cards {
    grid-template-columns: 1fr;
  }
}

@media(max-width: 768px) {
  .dishes-grid-cards {
    grid-template-columns: 1fr;
  }
}

// Container for a dish - default block
.dish-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 6px rgba(0,0,0,0.25);
}

.dish-card:hover {
  background: $base-bkg-green;
}

.dish-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.dish-card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

// Disable links default style
a {
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

// Container for image and dish title - flex
.dish-card .dish-hero {
  background-size: cover;
  background-position: center;
  height: 150px;
  width: 100%;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  font-size: 22px;
  color: white;
  padding: 30px 10px;
  letter-spacing: 1px;
  font-weight: 500;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
}


// Container for dish info - flex
.dish-card .dish-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.dish-card .restaurant-info {
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}


// .map-div {
//   display: flex;
//   width: 50vw;
//   justify-content: center;
// }
