// Specific CSS for your home-page

.text-container {
  margin: 0;
  padding: 0;
  position: relative;
}

.slogan-container {
  width: 600px;
  margin: 175px 0px 140px 100px;
}

.slogan-container #pka-slogan {
  font-size: 60px;
}

.empty-band {
  background-color: #a2ece696;
  width: 100vw;
  height: 200px;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-form {
  width: 500px;
  margin-left: 110px;
}

.search-form h3 {
  margin: 0;
}

.image-container {
  position: absolute;
  top: 130px;
  right: 110px;
}

#homepage-image {
  height: 700px;
  width: 550px;
  object-fit: cover;
  // border-radius: 5px;
  opacity: 0.95;
}

.homepage-btn {
  font-size: 25px;
  padding: 16px 32px;
}
