// Specific CSS for your home-page

.main-container {
  margin-top: 100px
}

.text-container {
  position: relative;
}

.slogan-container {
  margin: 200px 100px 100px;
  width: 550px;
  cursor: default;
}

.slogan-container #pka-slogan {
  font-size: 45px;
  color: $accent-g;
  text-align: justify;
  font-weight: 400;
}

.search-form {
  margin: 100px 0 0 135px;
}

.homepage-btn {
  font-size: 25px;
  padding: 16px 32px;
  background: white;
  color: #0b5a2c;
  border: solid 2px #06442058;
  border-radius: 15px;
  transition: border 300ms;

  &:hover {
    border: solid 2px $accent-g-h;
    color: $accent-g-h;
  }
}

.fa-search {
  margin-right: 10px;
}

.empty-band {
  background-color: #C8F4F0;
  width: 100vw;
  height: 180px;
}

.image-container {
  position: absolute;
  top: 130px;
  right: 110px;
}

#homepage-image {
  height: 650px;
  width: 550px;
  object-fit: cover;
  border-radius: 5px;
  opacity: 0.95;
}
