.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chef-restaurant {
  color: black;
  text-decoration: none !important;
}

.chef-restaurant:hover {
  color: #0b6b33f8;
  text-decoration: none !important;
}

.recipe-line {
  border-top: solid 1px grey;
  width: 80%;
  margin: 40px auto;
}

.recipes-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
  margin-bottom: 40px;
}

.recipe-card, .recipe-card-expanded {
  width: 371px !important;
  margin-top: 30px;
  padding: 20px;
  position: relative;
}

.recipe-card {
  height: 350px !important;
}

.recipe-card-expanded {
  height: 750px !important;
}

.image-recipe-container {
  height: 210px;
  width: 100%;
  padding: 0 !important;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 2px;
}

.recipe-image {
  height: 215px;
  width: 100%;
  border-radius: 2px 2px 0 0;
}

.recipe-content {
  margin-top: 220px;
}

#recipe-title a {
  font-size: 25px;
  margin-bottom: 7px;
  color: $accent-r;
  text-decoration: none;
}

.recipe-submit {
  width: 150px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 20px 20px 20px 22px;
}

.icon-container {
  width: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  top: -11px;
  right: -12px;
  margin: 20px;
}

.recipe-icon {
  color: white;
  height: 30px;
  width: 30px;
  background: transparent;
  border: solid 2px white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none !important;
}

.recipe-icon:hover{
  text-decoration: none !important;
}
