.recipe-title-container {
  margin-top: 50px;
  text-align: center;
}

.recipe-title-container h1 {
  font-weight: 700;
  text-align: center;
}

.inline-new-recipe-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
}

.new-recipe-form {
  background: white;
  width: 600px;
  height: 550px;
  padding: 40px;
  margin: 30px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.new-recipe-form h4 {
  margin-bottom: 20px;
}

.recipe-method {
  height: 200px;
  margin-bottom: 70px;
}

.submit-btn {
  height: 40px;
  width: 100%;
}
