.recipe-icon {
  color: #a2ece6ef;
  height: 30px;
  width: 30px;
  background: white;
  border: solid 2px #a2ece6cb;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none !important;
}

.recipe-icon:hover{
  text-decoration: none !important;
}
