<div class="footer">

  <div class="follow-us-section-container">
    <h3>Follow us</h3>

    <div>
      <div class="box">
        <div class="instagram icon">
          <i class="fab fa-instagram"></i>
        </div>
        <div>Instagram</div>
      </div>

      <div class="box">
        <div class="facebook icon">
          <i class="fab fa-facebook"></i>
        </div>
        <div>Facebook</div>
      </div>

      <div class="box">
        <div class="twitter icon">
          <i class="fab fa-twitter"></i>
        </div>
        <div>Twitter</div>
      </div>
    </div>
  </div>

  <div class="about-section-container">
    <h3>About us</h3>
    <div class="section-container">
      <div>How p-KA works</div>
      <div>p-KA for Restaurants</div>
      <div>Our team</div>
      <div>Contact us</div>
      <div>Privacy Policy</div>
      <div>Legal notice</div>
    </div>
  </div>

  <div class="right-container">
    <div class="signup-container">
      <h3>Sign up for more!</h3>
      <div class="subscription-container">
        <div class="subscription-form">Enter email address</div>
        <div class="subscription-btn btn-pka">Get Started</div>
      </div>
    </div>

    <div class="inline-container" >
      <div class="footer-copyright">
        © 2021 p-KA, Inc.
      </div>

      <div class="country-container">
        <span class="language-container">
          English (GB)
        </span>
        <span class="currency-container">
          £ (GBP)
        </span>
      </div>
    </div>

  </div>


</div>
