<div class="main-container">
  <div class="text-container">

    <div class="slogan-container">
      <h3 id="pka-slogan">Take a peek at any restaurant menu, or dish... in detail!</h3>
    </div>

    <div class="empty-band">
        <div class="search-form">
          <%= link_to "Start Peeking", dishes_path, class: "btn-pka" %>
        </div>
    </div>

  </div>

  <div class="image-container">
    <img id="homepage-image" src="https://cdn-prod.medicalnewstoday.com/content/images/articles/322/322303/selection-of-chinese-food-that-may-cause-chinese-restaurant-syndrome.jpg" alt="Chinese food">
  </div>
</div>
