<h1 style="text-align: center">Look at all these dishes. Yum!</h1>

<div class="cards-container">
  <!-- Cards -->
  <div class="cards">
    <%@dishes.each do |dish| %>
      <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/rio)">
        <%= dish.recipe.name %>
      </div>
    <% end %>
  </div>
  <!-- Map-->
  <div id="map" style="height: 100vh"
          data-controller="mapbox"
          data-mapbox-markers-value="<%= @markers.to_json %>"
          data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

<br>
<br>
