<h1 style="text-align: center">Look at all these dishes. Yum!</h1>

<div class="cards-container">
  <!-- Cards -->
  <div class="cards">
    <%@dishes.each do |dish| %>
      <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/rio)">
        <%= dish.recipe.name %>
      </div>
    <% end %>
  </div>
  <!-- Map-->
  <img id="map" src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.346,48.8595,11.72,0,0/600x1000?access_token=pk.eyJ1IjoicC1rYSIsImEiOiJja3dmN2JkankwMDBzMm9wYm0xNTR5MG1tIn0.43qViY5utCyucqd_Dgfhaw'>
</div>

<br>
<br>
