.btn-pka, .btn-pka-2 {
  font-size: 14px;
  font-weight: 400;
  border-radius: 8px;
}

.btn-pka {
  background-color: $accent-r;
  color: white;
  border: none;
  padding: 8px 16px;
}

.btn-pka:hover {
  background-color: $accant-r-h;
  color: white;
}

.btn-pka-2 {
  background-color: $accent-g;
  color: white;
  padding: 8px 16px;
  text-align: center;
}

.btn-pka-2:hover {
  text-decoration: none;
  background-color: $accent-g-h;
  color: white;
}

.btn-pka-2-sec {
  border: solid 2px $accent-g;
  color: $accent-g;
  vertical-align: middle;
  text-align: center;
  font-weight: 500;

  &:hover {
    border: solid 2px $accent-g;
    color: $base-bkg;
    background-color: $accent-g;
  }
}

.btn-pka-sec {
  border: solid 2px #99154e48;
  color: #b92f6b;
  vertical-align: middle;
  text-align: center;
  font-weight: 500;
  background-color: $base-bkg;
  padding: 20px;

  &:hover {
    border: solid 2px $accent-r;
    color: $accent-r;
    font-weight: 600;
    // background-color: $accent-g-r;
  }
}
