html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 320px;
}

.footer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: fit-content;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 25px 40px;
  color: rgba(0,0,0,0.3);
}

.footer h3 {
  color: rgb(73, 69, 69);
  font-size: 24px;
  cursor: default;
}

.footer-line {
  height: 180px;
  border-right: solid 1px rgb(177, 174, 174);
  margin: 0 10px;
}

.follow-us-section-container, .about-section-container, .right-container {
  height: 182px;
}

.follow-us-section-container {
  width: 130px;
}

.right-container, .inline-container {
  width: 590px;
}

.right-container {
  display: grid;
  align-content: space-between;
}

.inline-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.country-container {
  width: 200px;
  display: flex;
  justify-content: space-around;
}

.inline-container .footer-copyright {
  cursor: default;
}

.inline-container .language-container, .currency-container {
  cursor: pointer;
}

.box {
  width: 50px;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 3px;
  margin: 5px 0;
  transition: all .4s;
  cursor: pointer;
}

.box:hover {
  width: 133px;
  border-radius: 10px;
  color: white;
}

.box:nth-child(1):hover {
  background: #c32aa3;
  box-shadow: 0 0 10px #b315917c;
}

.box:nth-child(2):hover {
  background: #1877f2;
  box-shadow: 0 0 10px #1876f285;
}

.box:nth-child(3):hover {
  background: #1da1f2;
  box-shadow: 0 0 10px #1da0f280;
}

.box .icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 10px;
  margin-right: 7px;
  transition: all .4s;
  font-size: 28px;
  padding: 10px;
}

.box:hover .icon {
  background: white;
  color: rgb(59, 59, 59);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.26);
}

.instagram {
  background: #c32aa3;
}

.box:hover .instagram {
  color: #c32aa3;
}

.facebook {
  background: #1877f2;
}

.box:hover .facebook {
  color: #1877f2;
}

.twitter {
  background: #1da1f2;
}

.box:hover .twitter {
  color: #1da1f2;
}
