.navbar-pka {
  justify-content: space-between;
  background: transparent;
  padding: 8px 20px;
}

.navbar-pka .navbar-collapse {
  flex-grow: 0;
}

.avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
  box-shadow: 0 6px 16px rgba(97, 54, 54, 0.12);
}

.dropdown-menu {
  border: none;
  border-radius: 4px;
  height: auto;
  justify-content: center;
  padding: 20px 6px;
}

.dropdown-item {
  font-family: Montserrat;
  color: $accent-g;
}

.dropdown-line {
  border-top: solid 1px #0644203a;
  width: auto;
  margin: 7px;
}

.sign-in {
  margin: 0;
  padding-bottom: 0;
  cursor: default;
}

.navbar-brand {
  // background-color: white;
  // height: 80px;
  // width: 80px;
  // border-radius: 50%;
  // border: solid 2px $accent-g;
  display: flex;
  justify-content: center;
  align-items: center;
  // box-shadow: rgba(100, 100, 111, 0.14) 0px 7px 29px 0px;
}

.navbar-brand h1 {
  font-size: 30px;
  color: $accent-g;
}

.nav-link {
  font-family: Montserrat;
  color: $accent-g;
  font-size: 19px;
  margin-right: 5px;
}

.no-cursor:hover {
  cursor: default;
}
