.navbar-pka {
  justify-content: space-between;
  background: transparent;
  padding: 8px 20px;
}

.navbar-pka .navbar-collapse {
  flex-grow: 0;
}

.avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
  box-shadow: 0 6px 16px rgba(97, 54, 54, 0.12);
}

.dropdown-menu {
  padding-top: 17px;
  border: none;
  border-radius: 4px;
  height: 165px;
  justify-content: center;
}

.dropdown-item {
  font-family: Montserrat !important;
  color: $accent-g !important;
  padding-bottom: 20px;
}

.navbar-brand {
  background-color: white;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: solid 2px $accent-g;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.14) 0px 7px 29px 0px;
}

.navbar-brand h1 {
  font-size: 30px;
  color: $accent-g;
}

.nav-link {
  font-family: Montserrat;
  font-weight: 600 !important;
  color: $accent-g !important;
  font-size: 19px;
  margin-right: 5px;
}

.nav-item:hover {
  transition: 0.2s;
  color: #a2ece6cb;
}
