.navbar-pka {
  justify-content: space-between;
  background: white;
}

.navbar-pka .navbar-collapse {
  flex-grow: 0;
}

.navbar-pka .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  background-color: white;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  justify-content: center;
}

.navbar-brand h1 {
  font-size: 30px ;

}
